<div class="top_chat">
<div class="chat_title">
<%= @room.name%>
</div>
<div class="exit_chat">
<%= link_to 'チャット終了', room_path(@room) , method: :delete  %>
</div>
</div>
<div class="middle_chat">

  <%= render partial:'message', collection: @messages%>

<div>

  <%= form_with model: [@room, @message], local: true do |f| %>
<div class="bottom_chat">
  <div class="form">
    <%= f.text_field :content, class: 'text_message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'send' %>
<% end %>
<div>
